// -----------------------------------------------------------------------------
// $Config
// -----------------------------------------------------------------------------

$white       : #FFFFFF;
$black       : #000000;

$grey_10     : #F5F5F5;
$grey_20     : #F1F1F1;
$grey_30     : #EEEEEE;
$grey_40     : #E5E5E5;
$grey_50     : #72777C;
$grey_60     : #32373C;
$grey_70     : #23282D;

$blue_10     : #f3f3f5;
$blue_20     : #0984BE;
$blue_30     : #0073AA;

$red_10      : #CC4747;
$red_20      : #AA0000;

$yellow_light: #fff6bf;
$yellow_text : #595643;

// Shadows

$shadow: "0px 1px 1px rgba(0,0,0,.1)";

// Extra

$baseline       : 24px;
$gutter         : 20px;
$radius         : 3px;
$transition_time: .15s;

$panel_width   : 300px;

$square_pattern: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAH0lEQVQYV2NkYGAwZkAFZ5G5jPRRgOYEVDeB3EBjBQBOZwTVonMbmQAAAABJRU5ErkJggg==";
$empty_bg      : "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJElEQVQIW2NkwASSjGhikgwMDM+RBcECIEUwQbgATBBFACQIAKWBBB8HjQwoAAAAAElFTkSuQmCC";
