/**
 * @package sporty
 * @since sporty 1.0
 * inspired by: http://www.colourlovers.com/palette/59489/Kotaku
 *
 *
 */
#wrap {
	border-top: 8px solid #AAAAAA;
}

.main-navigation li.current_page_item, #main-navigation li.current-menu-parent,
.menu-top-menu-container .current-menu-item {
    background: #AAAAAA;
}
.main-navigation li:hover a{
	background-color: #AAAAAA;
}
.main-navigation > li > a, .main-navigation li.current_page_ancestor a {
	background-color: #AAAAAA;
}
.main-navigation li.current_page_item,  #main-navigation li.current-menu-parent{background: #AAAAAA;}
.main-navigation li.current_page_item:hover a,#main-navigation li.current_page_item:hover{background: #AAAAAA;}
.main-navigation li.current-menu-parent:hover > a{background: #AAAAAA!important;}
.main-navigation li.current-menu-parent ul.sub-menu li.current_page_item {background-color: #AAAAAA!important;}

.main-navigation ul ul li a:hover,#main-navigation ul ul li a:hover i, .main-navigation li.current-menu-parent ul.sub-menu li.current_page_item a   {
	color: #AAAAAA!important;
}

.sticky h1{
	border-bottom: 6px solid #AAAAAA;
}
.stickymore a:hover{
	color: #AAAAAA;
}
.featuretext_top {
	background-color: #AAAAAA;
}
.featuretext_top h3{
	color: #FFF;
}
.site-footer {
	border-top: 4px solid #AAAAAA;
}
.entry-content a, .entry-content a:visited, .entry-summary a, .entry-summary a:visited{
    color: #AAAAAA;
}
.main-small-navigation li:hover > a,
.main-small-navigation li.current_page_item a,
.main-small-navigation li.current-menu-item a,
.main-small-navigation ul ul a:hover {
	color: #AAAAAA;
}
.home_widget h4 {
    border-bottom: 7px solid #AAAAAA;
}
.widget-title {
    border-bottom: 7px solid #AAAAAA;
}
.flex-caption-title {
    border-bottom: 1px solid #AAAAAA;
}
.site-description {
	color: #AAAAAA;
}
.site-title a{
	color: #222;
}
.site-description {
	color: #AAAAAA;
}
header#masthead {
    background: #FFF;
}
.main-navigation {
    border-top: 0;
}
#wrap {
    background-color: #fff;
}
